<div class="card-container">
  <nz-tabset nzType="card" [nzTabPosition]="'left'" (nzSelectedIndexChange)="onTabChange($event)">
    <nz-tab *ngFor="let tab of tabs; let i = index" [nzTitle]="tab.title">
      <ng-container *ngIf="selectedTab === i">
        <ng-container *ngIf="tab.component === 'app-task'">
          <app-task></app-task>
        </ng-container>
        <ng-container *ngIf="tab.component === 'app-dashboard'">
          <app-dashboard></app-dashboard>
        </ng-container>
        <ng-container *ngIf="tab.component === 'app-schedule'">
          <app-schedule></app-schedule>
        </ng-container>
      </ng-container>
    </nz-tab>
  </nz-tabset>
</div>
